<!DOCTYPE html>
<html xmlns:v-b="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome to vue-all-in-one</title>
    <script src="https://unpkg.com/vue"></script>
    <!--script src="ex1-templates.js"></script-->
    <link rel="stylesheet" type="text/css" href="ex1.css" />
  </head>
  <body>
    <div id="app">
      <img src="https://vuejs.org/images/logo.png" alt="Vue logo" />
      <h1>{{ greeting }}</h1>
      <ul>
        <li>
          To learn more about Vue, visit
          <a v-bind:href="docsURL" target="_blank">
            {{ humanizeURL(docsURL) }}
          </a>
        </li>
        <li>
          For live help with simple questions, check out
          <a :href="discordURL" target="_blank"> the Discord chat </a>
        </li>
        <li>
          For more complex questions, post to
          <a :href="forumURL" target="_blank"> the forum </a>
        </li>
      </ul>
    </div>

    <div id="demo">
      <form id="search">
        Search <input name="query" v-model="searchQuery" />
      </form>
      <demo-grid
        :data="gridData"
        :columns="gridColumns"
        :filter-key="searchQuery"
      >
      </demo-grid>
    </div>
    <script type="text/x-template" id="grid-template">
        <table>
            <thead>
            <tr>
                <th v-for="key in columns"
                    @click="sortBy(key)"
                    :class="{ active: sortKey == key }">
                    {{ key | capitalize }}
                    <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
              </span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="entry in filteredData">
                <td v-for="key in columns">
                    {{entry[key]}}
                </td>
            </tr>
            </tbody>
        </table>
    </script>
    <script src="ex1-components.js"></script>
  </body>
</html>
